body {
    background: #f0f0f1;
    color: #3c434a;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    min-width: 600px;
}

.main-wrapper {
    padding: 0;
}

#wpcontent {
    padding-left: 0 !important;
    position: relative;
}

.clear {
    clear: both;
}

#amazing-table-header {
    border-top: 3px solid #FF982D;
    padding: 24px 20px;
}

#amazing-table-header img {
    display: block;
    margin: 0;
    max-width: 242px;
}

.amazing-table-content {
    padding: 0 20px;
    border-bottom: 0;
}

.amazing-table-content-headline {
    margin: 0;
    padding: 30px;
    background: #fff;
    border: 1px solid #E5E6E6;
    line-height: 2;
}

.amazing-table-content-headline h1 {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 0 4px 0;
    line-height: 1.6;
}

.centered {
    text-align: center;
}

.amazing-table-admin-columns {
    float: left;
    background-color: #FAFAFA;
    border-bottom: 1px solid #E5E6E6;
    padding: 0;
    width: 100%;
}

.amazing-table-admin-columns:after {
    content: "";
    display: table;
    clear: both;
}

.amazing-table-admin-columns > div[class*="-column-"] {
    float: left;
}

.amazing-table-admin-column-20:first-child {
    border-left: 1px solid #E4E6E6;
}

.amazing-table-admin-column-20:last-child {
    border-right: 1px solid #E4E6E6;
}

.amazing-table-admin-column-20 {
    width: calc((100% - 2px) / 5);
}

.amazing-table-admin-column-20 h3 {
    padding: 30px;
}

.table-info table {
    width: 100%;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border-left: 1px solid #E4E6E6;
}

.table-info table tr td {
    border-bottom: 1px solid #E5E6E6;
    border-right: 1px solid #E5E6E6;
    padding: 30px;
    width: 20%;
}

.table-info table tr td p {
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: 0 6px;
    margin: 0;
    font-size: 16px;
}

.amazing-table-update-section {
    margin: 0 0 20px;
    padding: 30px;
    background: #fff;
    border: 1px solid #E5E6E6;
    border-top: 0;
    line-height: 2;
}

.amazing-table-upsell-button {
    text-align: center;
}

.btn {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: none;
    box-shadow: none;
    outline: none;
}

.btn-lg {
    font-size: 16px;
    font-weight: 600;
    padding: 16px 28px;
}

.btn-orange {
    background-color: #FF982D;
    border-color: #FF982D;
    color: #fff;
}

.btn-orange:hover {
    background-color: #f97f00;
    border-color: #f97f00;
    color: #fff;
}